html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}
body{
    margin: 0;
}
.topnav__navbar >ul{
    margin: 0;
}
.header{
    display: block;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 25%);
    opacity: 0.9;
    z-index: 999;
    background-color: white;
    top: 0%;
}
.header .header_topnav {
    display: contents;
    padding: 0px 60px;
    position: relative;
    z-index: 1;
    background-color: grey;
}
.header .header_topnav img{
    width: 200px;
    height: 90px;
    background-color: #000;
    position: fixed;
    z-index: 999;
    border-radius: 0 0 5px 5px;
    box-shadow: 4px 4px 10px 1px rgb(0 0 0 / 50%);
    left: 5%;
}
.topnav__navbar .header_topnav{
    height: 30px;
    width: 100%;
}
.header_topnav .topnav__navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.header_topnav .topnav__navbar ul li{
    height: 30px;
    min-width: 46px;
    line-height: 30px;
    font-size: 13px;
}
.header_topnav .topnav__navbar a{
    font-size: 12px;
    padding: 10px 18px;
    text-decoration: none;
    color: #000;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.header_topnav .topnav_menu{
    line-height: 30px;
    cursor: pointer;
    display: none
}
.header .header_botnav{
    background-color: #000;
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
}
.header .header_botnav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
.header_botnav ul li a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 5px 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.header_botnav ul li a:hover{
    background-color: #343434;
    opacity: 0.7;
}
.header_botnav ul li .menu-subnav {
    display: none;
    flex-direction: column;
    background-color: #343434;
    min-width: 125px;
    line-height: 20px;
    position: absolute;
    width: 0;
}
.header_botnav ul li .menu-subnav li:hover {
    background-color: bisque;
}
.header_botnav li:hover .menu-subnav {
    display: flex;
}
.header_botnav ul li ul li a {
    display: block;
}
.header_botnav .botnav__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.header_botnav .botnav__search:hover input {
    border-bottom: 1px solid #fff;
    display: inline-block;
}
.header_botnav .botnav__search a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}
.header_botnav .botnav__search a:hover {
    opacity: 0.5;
}
.header_botnav .botnav__search input {
    height: 27px;
    width: 190px;
    padding: 0 0 0 10px;
    border: none;
    background-color: #000;
    color: #fff;
    opacity: 0.9;
    font-size: 16px;
    display: none;
    animation: searchShow 1s;
}
@keyframes searchShow {
    from {
        right: 0;
        width: 0;
    }
    to {
        right: 300px;
        width: 190px;
    }
}
.header_botnav .botnav__search input::placeholder {
    color: #fff;
    opacity: 0.9;
    font-size: 14px;
}
.header_botnav .botnav__search input:focus {
    display: inline-block;
}
.header__botnav .botnav__cartHide {
    color: #fff;
    font-size: 23px;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
}
.header__botnav .botnav__cartHide:hover {
    background-color: dimgrey;
}
.header__botnav .botnav__cartHide .cart__soluong {
    position: absolute;
    color: #fff;
    top: 7px;
    left: 17px;
    border-radius: 50%;
    line-height: 10px;
    min-width: 15px;
    text-align: center;
    background-color: red;
    font-size: 10px;
}
.header_logo{
    height: 100vh;
    width: 100%;
    position: relative;
}
.header_logo .slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.header_logo .slide{
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: fadeIn 2s ease;
    display: none;
}
.header_logo .active{
    display: flex;
}
@keyframes fadeIn {
    from {
        opacity: 0.5;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.controls{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.controls .prev,
.controls .next {
    height: 40px;
    width: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: black;
    opacity: 0.4;
    transition: all 0.2s ease;
}
.header_logo .controls .prev:hover,
.header_logo .controls .next:hover {
    opacity: 1;
}
.header_logo .controls .prev {
    left: 1%;
}
.header_logo .controls .next {
    right: 1%;
}
.header_logo .radio-btn {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header_logo .radio-btn div {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.header_logo .radio-btn div.active {
    background-color: #000;
}
/*Product*/
.product {
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 75%);
    width: 90%;
}
.new__product .product--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-items: center;
}
.new__product .product--item {
    position: relative;
    width: 90%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.new__product .product--item img {
    width: 100%;
    margin: 0 auto;
    height: 175px;
    border: 1px solid #ccc;
}
.new__product .product--items p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 7px;
    background-color: sandybrown;
    color: #fff;
    margin: 0;
}
/*Hot product*/
.hot__product {
    margin: 0 auto;
    padding: 20px 0;
}
.hot__product h3 {
    padding: 30px 0 10px 20px;
}
.hot__product .hot__product--item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px;
    justify-content: center;
    margin: 0 20px 20px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.hot__product .hot__product--item img {
    width: 100%;
    height: 100%;
    grid-column: 3/7;
}
.hot__product .hot__product--item .mota-product {
    grid-column: 1/3;
    align-content: center;
    box-shadow: inset 0 0 12px 0 rgb(0 0 0 / 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hot__product .hot__product--item .mota-product .mota-product-1 {
    height: 10%;
}
.hot__product .hot__product--item .mota-product .mota-product-2 {
    height: 20%;
}
.hot__product .hot__product--item .mota-product .mota-product-3 {
    height: 35%;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    width: 90%;
    grid-gap: 7px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 75%);
}
.service__layout-item:first-child {
    grid-row: 1/3;
}
.service__layout-item:last-child {
    grid-column: 2/4;
    overflow: hidden;
}
.service__layout-item img {
    width: 100%;
    height: 100%;
}

.google-map {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 75%);
}
.google-map h2 {
    padding: 15px 0 20px 0;
}
.google-map .map-api {
    width: 90%;
    height: 80%;
}
.footer {
    background-color: #000;
    padding: 0 60px;
    padding-bottom: 30px;
}
.footer__top {
    display: flex;
    padding: 20px 0;
}
.footer__top .footer__top--left {
    display: flex;
}
.footer__top--left fieldset {
    width: 262px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.footer__top .footer__top--left legend {
    color: #fff;
    text-align: center;
}
.footer__top .footer__top--left img {
    width: 25px;
    height: 25px;
}

.footer__top--right {
    width: 100%;
    padding-left: 100px;
}
.footer__top--right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}
.footer__top--right ul li {
    list-style: none;
}
.footer__top--right ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    padding: 0 20px;
}
.footer__top--right ul li a:hover {
    opacity: 0.7;
}
.footer__top--right ul li:not(:last-child) {
    border-right: 3px solid #fff;
    line-height: 10px;
}

.footer__bottom {
    display: flex;
    padding-bottom: 30px;
}
.footer__bottom--left {
    min-width: 276px;
}
.footer__bottom--left ul li:first-child {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.footer__bottom--left ul li {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    list-style: none;
    line-height: 20px;
}
.footer__bottom--right {
    padding-left: 100px;
    color: #fff;
    width: 100%;
}
.footer__bottom--right ul a {
    text-decoration: none;
    color: #fff;
}
.footer__bottom--right h3 {
    text-transform: uppercase;
    padding: 10px 0 25px 0;
}
.footer__bottom--right ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__bottom--right ul a {
    width: 48%;
}
.footer__bottom--right ul li {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__bottom--right ul li:hover {
    opacity: 0.7;
}
.footer__bottom--right ul li i {
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
}
.formlogin{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    display: none;
}
.container{
        position: relative;
        max-width: 850px;
        width: 100%;
        background: #fff;
        padding: 102px 40px;
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
        perspective: 2700px;
        animation: loginShow 0.5s ease;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
.container i{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    size: 35px;
    font-weight: bold;
    background-color: red;
    color: white;
}
.container i:hover{
    opacity: 0.5;
    cursor: pointer;
}
.container i .ti-close{
    height: 28px;
    width: 30px;
}
.container i .login--close{
    height: 20px;
}
.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}
.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
    display: none;
}
.container .cover .text {
    position: absolute;
    z-index: 111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.container .form{
    height: 100%;
    width: 100%;
    background: #fff;
}
.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.form-content .form-login{
    display: flex;
    flex-direction: column;
}
.form-login h1{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: black;
}
.form-login a{
    text-decoration: none;
}

.text-1{
    color: white;
    font-weight: 700;
}
.text-2{
    color: white;
}
.form-login input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    outline: none;
}
.form-login a{
    font-size: 14px;
    margin-top: 5px;

}
.form-login button{
    font-size: 20px;
    padding: 12px;
    background-color: plum;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    margin-bottom: 30px;
    border-radius: 6px;
}
.form-login p{
    margin-top: 30px;
}
.form-signup{
    display: flex;
    flex-direction: column;
    
}
.form-signup h1{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: black;
}
.form-signup input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 8px;
    outline: none;
}
.form-signup button{
    border: none;
    margin: 24px;
    padding: 12px ;
    background-color: plum;
    cursor: pointer;
    font-size: 20px;
    width: 270px;
    border-radius: 6px;
}
.form-signup p a{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 18px;
}
.js-login{
    cursor: pointer;
    padding: 0 12px;
}
.openlogin{
    display: block !important;
}

